footer {
  @include padding-y(80px);
  @include padding-x(32px);
  background-color: var(--bg-footer);
  color: var(--text);

  @include tablet {
    @include padding-x(10px);
    @include padding-y(40px);
  }
  
  .footer-container {
    @include margin-x(auto);
    max-width: rem(1200px);
    display: flex;
    flex-wrap: wrap;

    @include mobile {
      display: block;
    }
  }

  .footer-title {
    color: var(--light);
    font-weight: bold;
    margin-bottom: rem(16px);
  }


  .footer-desc-container, 
  .footer-links-container {
    width: 50%;

    @include tablet {
      width: 47%;
    }
  }

  .footer-desc-container {
    @include mobile {
      margin-bottom: rem(20px);
    }

    p {
      width: 80%;
      line-height: 1.3;
    }
  }

  .footer-links-container {
    display: flex;
    flex-wrap: wrap;

    @include mobile {
      display: block;
    }

    &-list {
      @include padding-x(16px);

      @include mobile {
        @include padding-x(0);
      }

      li {
        margin-bottom: rem(8px);
      }

      a {
        color: var(--text);
        transition: .5s;

        &:hover {
          color: var(--light);
        }
      }
    }
  }

  .footer-copy-right-container {
    width: 100%;
    margin-top: rem(48px);

    p {
      margin-bottom: rem(16px);
    }
  }
}