#main-banner {
  @include background;
  background: linear-gradient(rgba(0,0,0, .6), rgba(0,0,0, .6)), url('../src/images/office.jpg');
  height: 85vh;

  .nav-container {
    @include padding-y(20px);
    @include padding-x(32px);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark-100);
    z-index: 10;

    &-navbar {
      @include centralized;
      justify-content: space-between;

      @include mobile {
        display: none;
      }

      li {
        @include margin-y(5px);
        @include margin-x(10px);
        height: 100%;
      }

      a {
        @include main-hover;
        color: var(--light);
      }
    }

    .fas:not(:first-child)  {
      display: none;
      font-size: rem(32px);
      color: var(--light);

      @include mobile {
        display: block;
      }
    }

    nav {
      display: flex;
      align-items: center;
    }
  }

  .brand {
    @include main-hover;
    color: var(--light);
    font-size: rem(32px);
  }

  .title-container {
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;

    h1 {
      font-size: rem(64px);
      text-shadow: $title-shadow;
      margin-top: rem(16px);

      @include mobile {
        font-size: rem(48px);
      }
    }

    h2 {
      font-size: rem(48px);
      text-shadow: $title-shadow;

      @include mobile {
        font-size: rem(32px);
      }
    }
  }
}